#clothes-tab {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: .25vh;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    padding: .5vh;
}

.cloth-but {
    position: relative;
    width: 7.5vh;
    height: 7.5vh;
    background-color: rgba(16, 16, 16, 0.83);
    border: .1vh solid #242424;
    opacity: .925;
    border-radius: 8px;
    backdrop-filter: blur(.8vh);
    color: white;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.cloth-but svg {
    width: 4vh;
    height: 4vh;
    display: block;
    margin: auto;
}

.cloth-but:hover {
    transform: scale(1.03);
    z-index: 1;
}

.cloth-but:active {
    transform: scale(0.98);
}

.cloth-but:focus {
    outline: none;
}

.toggled-cloth {
    background-color: rgba(15, 112, 104, 0.4);
    border: .1vh solid #3E8982;
}