#emotes-tab {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.menu-container {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 99.7%;
    height: 3.7vh;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 .5vh rgb(0, 0, 0);
    border-radius: .5vh;
    bottom: -4.5vh;
    margin-right: .2vh;
    animation: fadeInRight .5s;
    transition: 0.2s;
    color: rgba(255, 255, 255, 0.719);
}

.sidebar:hover {
    transform: scale(1.15);
    transition: 0.2s;
    cursor: pointer;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
}

#info-container {
    position: absolute;
    width: fit-content;
    top: -4.5vh;
    right: 0;
    font-size: 1.9vh;
    padding: 0.5vh 0.7vw;
    letter-spacing: .1vh;
    color: #ffffff;
    border-radius: 0.1vh;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 .5vh rgb(0, 0, 0);
    font-family: "Nunito";
}

.controls {
    position: relative;
    height: 4vh;
    width: 4vh;
    color: rgba(255, 255, 255, 0.719);
    background-color: rgba(255, 255, 255, 0.4);
	border: .1vh solid rgba(255, 255, 255, 0.3);
    opacity: .925;
    border-radius: .3vh;
    border-radius: .6vh;
    transition: 0.1s;
    cursor: pointer;
}

.controls span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.controls:hover {
    transition: 0.1s;
    transform: scale(1.05);
}

.search-bar {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.719);
    color: rgba(255, 255, 255, 0.719);
    background-color: rgba(255, 255, 255, 0.4);
	border: .1vh solid rgba(255, 255, 255, 0.3);
    opacity: .925;
    border-radius: .3vh;
    transition: 0.2s;
    width: 50%;
    font-family: "Nunito";
    height: 4vh;
    border-radius: .4vh;
    padding-left: .5vh;
    padding-right: .5vh;
}

.anims-block {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    overflow-y: auto;
    transition: 0.2s;
    max-height: 48.5vh;
    width: 100%;
    padding-left: 0.9vh;
    margin-top: 1vh;
    color: rgba(255, 255, 255, 0.719);
}

/* .anims-block::-webkit-scrollbar {
    width: 0.6vh;
}

.anims-block::-webkit-scrollbar-track {
    background-color: rgb(29, 29, 31);
    border-radius: 0.5vh;
}

.anims-block::-webkit-scrollbar-thumb {
    background-color: rgb(255 250 250 / 81%);
    border-radius: 0.5vh;
}

.anims-block::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
} */

.anim {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;
    height: 2.5em;
    margin: 0.35%;
    min-width: 48.5%;
    min-height: 3.8em;
    color: rgba(255, 255, 255, 0.719);
    background-color: rgba(255, 255, 255, 0.4);
	border: .1vh solid rgba(255, 255, 255, 0.3);
    opacity: .925;
    border-radius: .3vh;
    backdrop-filter: blur(.8vh);
    cursor: pointer;
    transition: 0.2s;
    overflow: hidden;
}

.anim:hover {
    background-color: rgba(20, 20, 20, 0.566);
}

.anim div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    margin-left: 6.5%;
    font-family: "Nunito";
    font-size: 1.2vw;
    transition: 0.2s;
}

.anim div span:first-of-type {
    color: rgba(255, 255, 255);
    text-shadow: 0 0 1vh rgba(0, 0, 0, 0.548);
    font-size: 1.4em;
    font-family: bEBASKAI;
    font-size: 0.7em;
    word-break:break-all;
}

.anim div span:last-of-type {
    color: rgba(255, 255, 255);
    text-shadow: 0 0 1vh black;
    font-size: 0.855em;
    font-size: 0.6em;
    word-break:break-all;
}

.star {
    color: rgba(255, 255, 255, 0.719);
    font-size: 1.8em;
    margin-right: 10%;
    transition: 0.3s;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 1;
}

.material-icons.md-18 { 
    font-size: 20..1vh; 
}

.pop {
    animation: pop 0.3s;
}

.fadeOut {
    animation: fadeOutRight .7s;
}

@keyframes pop {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.01);
    }
}