@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");


:root {
    --text-color: #000000;
    --background-color: #c0c0c0;
    --font-size: 0.7vh;
    --hover-color: #bdbdbd;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "IBM Plex Mono", monospace;
    background: transparent !important;
    user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: .2vh;
}

::-webkit-scrollbar-thumb {
    background: none;
}

#qbcore-inventory {
    width: 100%;
    height: 100%;
    display: none;
}

.inv-container {
    position: absolute;
    bottom: 4vh;
    padding: .5vh 0;
    right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vh;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.inv-container::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    border-radius: 10px;
    border: none;
}

.inv-container-left {
    position: absolute;
    top: 63vh;
    right: 49.5vh;
    padding: 1vh .9vh 1vh .8vh;
    background-color: rgba(9, 9, 9, 0.85);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: auto;
    height: auto;
    max-height: 59vh;
}

#inv-tab {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1vh;
    padding-top: 0;
}

.tab-menu-btn {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.tab-menu-btn:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.tab-menu-btn:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.tab-menu-btn.tab-selected {
    pointer-events: none !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


.player-inv-info {
    width: 100%;
    height: fit-content;
    float: left;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: .5vh;
    justify-content: space-between;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    display: none;
}

#player-inv-progressbar {
    display: none;
    height: .5vh;
    width: 100%;
    transition: width 0.2s;
    background-color: rgba(69, 227, 6, 0.722);
}

.other-inv-info {
    width: 100%;
    height: fit-content;
    float: left;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5vh;
    justify-content: space-between;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
}

#other-inv-weight-value {
    opacity: 0;
}

#other-inv-progressbar {
    display: none;
    width: 100%;
    height: .5vh;
    transition: width 0.2s;
    background-color: rgba(69, 227, 6, 0.722);
}

.ui-progressbar.ui-widget.ui-widget-content {
    border: none;
}

.ui-progressbar.ui-widget-content {
    border: none;
}

.ui-progressbar .ui-widget-header {
    border: none;
}

.ui-progressbar-value {
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}

.ui-progressbar .ui-progressbar-value {
    background-color: green;
}

.ui-progressbar-medium .ui-progressbar-value {
    background-color: yellow;
}

.ui-progressbar-high .ui-progressbar-value {
    background-color: #38DAAF;
}

.player-inventory-keys {
    /* border-top: solid .1vh rgba(255, 255, 255, 0.788);
    padding-top: 1vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
}

.player-inventory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
}

.other-inventory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow-y: auto;
}

.other-inventory .item-slot {
    backdrop-filter: blur(.8vh);
}


.player-inventory-keys .item-slot {
    position: relative;
    width: 7.5vh;
    margin: .25vh;
    height: 7.5vh;
    background-color: rgba(16, 16, 16, 1) !important;
    border: .1vh solid #242424 !important;
    border-radius: .3vh;
}

.item-slot {
    position: relative;
    width: 7.5vh;
    margin: .25vh;
    height: 7.5vh;
    background-color: rgba(16, 16, 16, 0.83);
    border: .1vh solid #242424;
    opacity: .925;
    border-radius: 8px;
}

.player-inventory .item-slot {
    backdrop-filter: blur(.8vh);
}

.item-slot:hover {
    transform: scale(1.03);
    z-index: 1;
}

.item-slot-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.item-slot-img img {
    width: 50%;
    height: auto;
    z-index: 10;
}

.item-slot-key {
    color: #1F1F1F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    font-family: "IBM Plex Mono", monospace;
    z-index: 9;
}

.item-slot-key p {
    margin: 0;
}

.item-slot-amount {
    color: white;
    position: absolute;
    bottom: .5vh;
    right: .5vh;
    font-size: 1.5vh;
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: flex-end;
    font-family: "IBM Plex Mono", monospace;
}

.item-slot-label {
    position: absolute;
    white-space: nowrap;
    bottom: 0;
    height: 1vh;
    width: 100%;
    background-color: var(--background-color);
    display: none;
    justify-content: center;
    align-items: center;
}

.item-slot-label p {
    margin: 0;
    font-size: var(--font-size);
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: bolder;
}

.item-slot-quality {
    position: absolute;
    top: 0;
    width: 100%;
    height: .4vh;
    background-color: #2d2d2d;
}

.item-slot-quality-bar {
    height: .4vh;
    /* background-color: #909090; */
}

.item-drag {
    cursor: grab;
}

.item-drag:active {
    cursor: grabbing;
}

.inv-options {
    width: calc(100% + 2vh);
    border-bottom: .1vh solid rgba(255, 255, 255, 0);
    padding: 1.2vh 1vh .7vh 1vh;
    transform: translate(.2vh, .2vh)
}

.inv-options-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.inv-option-item {
    border-radius: .4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5vh;
    height: 2.8vh;
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: .2vh;
    padding: 0;
    color: rgb(255, 255, 255);
    background-color: #090909;
    outline: none;
}

#item-use p,
#item-give p,
#inv-close p,
#weapon-attachments p {
    margin: 0;
}

.ply-iteminfo-container {
    display: none;
    z-index: 9999999;
    padding: 1.2vh 1.5vh;
    position: absolute;
    max-width: 47vh;
    text-align: left;
    background-color: rgba(9, 9, 9, 0.75);
    opacity: 0.95;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid #2D2D2D;
    border-radius: 10px;
    color: white;
    font-family: "IBM Plex Mono", monospace;
}

.ply-iteminfo-container * {
    margin: 0;
}

.item-info-title {
    font-size: 1.5vh;
    margin-bottom: 0.5vh;
    font-family: "IBM Plex Mono", monospace;
    color: white;
    border-bottom: 1px solid #3E8982;
    padding-bottom: 0.5vh;
    text-transform: uppercase;
    letter-spacing: -0.025em;
}

.item-info-description {
    color: #90C9C4;
    font-size: 1.1vh;
    margin-top: 0.5vh;
    line-height: 1.4;
}

.weapon-attachments-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    display: none;
    background-color: rgb(24, 24, 24);
    box-shadow: 0 0 .3vw rgb(24, 24, 24);
    border-radius: .8vh;
    color: white;
    font-family: "IBM Plex Mono", monospace;
    padding: 1vh;
}

.weapon-attachments-container-title {
    font-size: 3vh;
}

.weapon-attachments-container-description {
    font-size: 2vh;
}

.weapon-attachments-container-detail-durability {
    background-color: rgba(255, 255, 255, 0.2);
    height: 1vh;
    width: 50%;
    border-radius: 100%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.weapon-attachments-container-detail-durability-total {
    height: 100%;
    width: 50%;
    background-color: rgba(59, 54, 54, 0.922);
    border: .1vh solid rgba(59, 54, 54, 0.922);
}

.weapon-attachments-container-image {
    height: 20vh;
}

.weapon-attachments {
    display: flex;
    justify-content: center;
    width: 30vw;
    padding-bottom: 3vh;
}

.weapon-attachments-remove {
    background-color: rgba(255, 255, 255, 0.566);
    border: .1vh solid rgba(255, 255, 255, 0.788);
    border-radius: .6vh;
    transition: 200ms;
}

.weapon-attachments-remove>i {
    color: var(--text-color);
    font-size: 2vh;
    padding: 1vh;
}

.weapon-attachments-remove:hover {
    cursor: pointer;
    opacity: 80%;
}

.weapon-attachments-back {
    width: 10vh;
    height: 6vh;
    margin: 5vh;
    color: black;
    text-align: center;
    line-height: 6vh;
    background-color: rgba(255, 255, 255, 0.566);
    border: .1vh solid rgba(255, 255, 255, 0.788);
    border-radius: .6vh;
    transition: 0.05s linear;
    transition: 200ms;
}

.weapon-attachments-back:hover {
    cursor: pointer;
    opacity: 80%;
}

.combine-option-container {
    display: none;
    position: absolute;
    width: 10%;
    top: 58%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.CombineItem p,
.SwitchItem p {
    margin: 0;
}

.itemboxes-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 48vh;
    right: -40vh;
    width: 30vw;
    transform: translateX(-50%);
    padding-bottom: 3vh;
}

.requiredItem-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 30vw;
    transform: translateX(-50%);
    padding-bottom: 3vh;
}

.z-hotbar-inventory {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: max-content;
    transform: translateX(-50%);
    padding: .85vh;
    z-index: -999;
}

.z-hotbar-inventory .item-slot:last-child {
    display: none;
}

.itembox-action {
    position: relative;
    font-family: "IBM Plex Mono", monospace;
    color: white;
    width: 24vh;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vh;
    border-radius: 10px;
    gap: 1vh;
    background-color: rgba(9, 9, 9, 0.75);
    background-image: url('../imgs/grid-pattern.svg');
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.95;
    border: 1px solid #2D2D2D;
}

.itembox-action::after {
    display: none;
}

.itembox-col {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    justify-content: center;
}

.itembox-title {
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: -0.025em;
    font-weight: 600;
    font-size: 1.1vh;
    color: white;
    text-transform: uppercase;
}

.itembox-desc {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.95vh;
    color: #90C9C4;
}

.itembox-action img {
    height: 100%;
    /* background-color:  rgba(59, 54, 54, 0.922);
    border: .1vh solid rgba(59, 54, 54, 0.922); */
    /* padding: .6vh; */
    /* border-radius: .15vw; */
}

.bebas {
    font-family: "IBM Plex Mono", monospace !important;
}