.tab-menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
}

.tmenu-title {
    /* background-color: rgba(78, 48, 48, 0.722); */
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 2.5vh;
    width: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    font-family: "IBM Plex Mono", monospace;
}

.tmenu-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
    padding: 1vh;
    overflow-y: auto;
}

.tmenu-option {
    width: 100%;
    outline: 0;
    border-radius: .4vh;
    color: rgba(255, 255, 255, 0.575);
    background-color: rgba(68, 68, 68, 0.566);
    border: .3vh solid rgba(68, 68, 68, 0.566);
    cursor: pointer;
    transition: 0.2s;
    padding: .5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.tmenu-option:focus {
    outline: 0;
}

.tmenu-option:hover {
    background-color: rgba(20, 20, 20, 0.566);
}

.tmenu-option:active {
    background-color: rgba(156, 156, 156, 0.366);
}


.tmenu-option-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "IBM Plex Mono", monospace;
    font-size: 2vh;
    width: 100%;
    color: rgba(255, 255, 255, 0.575);
}

.tmenu-option-description {
    color: rgba(255, 255, 255, 0.575);
    font-size: 1.4vh;
    width: 100%;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}